<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="/css/home/style.css">
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/js/home/register.js" defer></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input id="reg_inp_id" type="text" placeholder="username"/>
                <input id="reg_inp_name" type="text" placeholder="nickname"/>
                <input id="reg_inp_pw" type="password" placeholder="password"/>
                <input id="reg_inp_pw_confirm" type="password" placeholder="password verify"/>
                <button id="btn_register" type="button">create</button>
                <p class="message">Already registered? <a href="/login">Sign In</a></p>
            </form>
        </div>
      </div>
</body>
</html>